@using BlazorStatic
@using BlazorStatic.Services
@*instead of @page "/projects"  *@
@attribute [Route($"/{WebsiteKeys.ProjectsUrl}")] 

@*instead of @page "/projects/{*postUrl}"  *@
@attribute [Route($"/{WebsiteKeys.ProjectsUrl}/{{*postUrl}}")] 
@inject BlazorStaticContentService<ProjectFrontMatter> projectsService

@* No filename -> show latest posts *@
@if (string.IsNullOrWhiteSpace(PostUrl))
{
    <div class="prose prose-invert">
        <ul>
            @foreach(var post in posts)
            {
                <li>
                    <a href="@projectsService.Options.PageUrl/@(post.Url)">@post.FrontMatter.Name</a>
                    @post.Url
                </li>
            }
        </ul>
    </div>
}
else if (onePost != null)
{
    <div class="prose prose-invert">
        <h1>@onePost.FrontMatter.Name</h1>
        <p>@onePost.FrontMatter.Description</p>
        <p>
            @((MarkupString)onePost.HtmlContent)
        </p>
    </div>
}
else
{
    <div>Projects not found 🤷 </div>
}


@code {
    [Parameter] public string? PostUrl { get; set; }
    Post<ProjectFrontMatter>? onePost;
    List<Post<ProjectFrontMatter>> posts = [];

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(PostUrl))
            posts = projectsService.Posts.OrderByDescending(x => x.FrontMatter.Name).ToList();
        else
            onePost = projectsService.Posts.FirstOrDefault(x => x.Url == PostUrl);
    }

}
